<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="static/css/styles.css"> <!-- Thêm liên kết đến file CSS -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dataset">PPPT&Data Set</a></li>
            <li><a href="/LogisticRegression">LogisticRegression</a></li>
            <li><a href="/about">About Author</a></li>
        </ul>
    </nav>

    <div class="content"> <!-- Thẻ div với lớp content để căn giữa nội dung -->
        <h1>About</h1>
        <p>DESIGN BY Lường Văn Minh</p>
    </div>
</body>
</html>
