<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logistic Regression</title>
    <link rel="stylesheet" href="static/css/styles.css"> <!-- Thêm liên kết đến file CSS -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dataset">PPPT&Data Set</a></li>
            <li><a href="/LogisticRegression">Logistic Regression</a></li>
            <li><a href="/about">About Author</a></li>
        </ul>
    </nav>

    <h1>Logistic Regression</h1>
    
    <div class="content">
        <p>Logistic Regression là một thuật toán học máy được sử dụng chủ yếu cho các bài toán phân loại nhị phân, tức là bài toán trong đó biến mục tiêu có hai giá trị có thể có (thường là 0 hoặc 1, true hoặc false, có hoặc không). Mô hình logistic regression dự đoán xác suất p của một biến mục tiêu y bằng cách áp dụng hàm logistic lên tổ hợp tuyến tính của các biến đầu vào x:</p>

        <p>p = σ(w.x + b)</p>

        <p>Trong đó:</p>
        <ul>
            <li>w là vector trọng số.</li>
            <li>x là vector các biến đầu vào.</li>
            <li>b là hệ số chặn (bias).</li>
        </ul>
    </div>
</body>
</html>
